
<input placeholder="Search" id="search" type="text" class="validate" [(ngModel)]="searchString">
<div class="row">
  <div class="col s3" *ngFor="let i of users | search: searchString">
    <div class="card">
      <div class="card-image">
        <img src={{i.image}} width="300" height="300">
      </div>
      <div class="card-content">
        <p>{{i.name}} {{i.surname}}</p>
      </div>
      <div class="card-action">
        <a href="#">Age: {{i.age}}</a>
      </div>
    </div>
  </div>
</div>
