<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Documents</title>
    <link rel="stylesheet" href="/resources/css/index.css">
    <style>
        table {
            align-items: center;
            background-color: #161616;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2%;
        }

        table th {
            padding-top: 12px;
            padding-bottom: 12px;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
        }
        a{
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>

<div th:include="~{navbar.html::navbar}"></div>

<div class="container">

    <table id="table" style="display: none">
        <tr>
            <th>Filename</th>
            <th>Go to file</th>
        </tr>
        <tbody id="content-pane">

        </tbody>
    </table>

</div>


<script>
    onload = function findContacts() {
        fetch('/rest/documents').then(function (response) {
            response.json().then(function (data) {
                if (data.length > 0) {
                    document.getElementById('table').style.display = "table";
                    var str = "";
                    console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        str += "<tr><td>" + data[i].name + "</td><td><a href='" + data[i].path +"'>Check file</a></td></tr>"
                    }
                    document.getElementById("content-pane").innerHTML = str;
                }
            })
        })
    }
</script>

</body>
</html>