<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find contact</title>
    <link rel="stylesheet" href="/static/index.css">
    <style>
        table {
            align-items: center;
            background-color: #161616;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2%;
        }

        table th {
            padding-top: 12px;
            padding-bottom: 12px;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
        }
        a{
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>

<div th:include="~{navbar.html::navbar}"></div>

<div class="container">


    <div class="reg-form" style="margin-top: 2%">
        <div class="reg-element">
            <label for="parameter">Chose filed</label>
            <select name="parameter" id="parameter">
                <option th:each="filed : ${T(by.itechart.contacts.model.entity.ContactField).values()}"
                        th:value="${filed.name()}" th:text="${filed.name()}"></option>
            </select>
            <input type="text" id="value" placeholder="Value" class="reg-input" onkeyup="search()">
        </div>
    </div>


    <table id="table" style="display: none;">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Patronymic</th>
            <th>DateOfBirth</th>
            <th>Gender</th>
            <th>Citizenship</th>
            <th>FamilyStatus</th>
            <th>Site</th>
            <th>Email</th>
            <th>Job</th>
            <th>Address</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        <tbody id="content-pane">

        </tbody>
        <!--<tr id="content-pane"></tr>-->
    </table>


</div>

<script>
    function search() {
        document.getElementById('table').style.display = "none";
        document.getElementById('content-pane').innerText = "";
        var type = document.getElementById('parameter').value;
        var value = document.getElementById('value').value;
        if (value!==""){
            fetch('/rest/searchContact?type=' + type + "&value=" + value).then(function (response) {
                response.json().then(function (data) {
                    if (data.length > 0) {
                        document.getElementById('table').style.display = "table";
                        var str = "";
                        for (var i = 0; i < data.length; i++) {
                            console.log(data[i]);
                            str += "<tr>" + "<td>" + data[i].name + "</td>" + "<td>" + data[i].surname + "</td>" + "<td>" + data[i].patronymic + "</td>" + "<td>" + data[i].date + "</td>" + "<td>" + data[i].gender + "</td>" + "<td>" + data[i].citizenship + "</td>" + "<td>" + data[i].familyStatus + "</td>" + "<td>" + data[i].site + "</td>" + "<td>" + data[i].email + "</td>" + "<td>" + data[i].job + "</td>" + "<td><a href='/address/" + data[i].address + "'>Address</a>" + "<td><a href='/deleteContact/" + data[i].id + "'>" + "Delete</a></td>" + "<td><a href='/editContact/" + data[i].id + "'>" + "Edit</a></td>"  + "  </td>" + "</tr>";
                        }
                        document.getElementById("content-pane").innerHTML = str;
                    }
                })
            })
        }else{
            document.getElementById('content-pane').innerText = "";
        }
    }
</script>

</body>
</html>