<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add address</title>
    <link rel="stylesheet" href="/testViewDesign.css">
    <script src="/index.js"></script>

</head>
<body>


<div class="container"><span id="message-span"></span></div>
<div class="container">
    <img src="/loading.gif" alt="" id="load-pic" style="display:none;width: 300px; height: 300px">
</div>
<div class="container"><h3>Add address</h3></div>
<div class="container" id="container">
    <div class=" gap-bottom">
        <div id="form-div" style="visibility: visible;">
            <form class="reg-form" id="add-form">
                <div class="reg-element">
                    <label for="country">Country</label>
                    <input type="text" id="country" name="country" placeholder="Country" class="inp">
                </div>
                <div class="reg-element">
                    <label for="city">City</label>
                    <input type="text" id="city" name="city" placeholder="City" class="inp">
                </div>
                <div class="reg-element">
                    <label for="street">Street</label>
                    <input type="text" id="street" name="street" placeholder="Street" class="inp">
                </div>
                <div class="reg-element">
                    <label for="house">House</label>
                    <input type="number" id="house" name="house" placeholder="House" class="inp">
                </div>
                <div class="reg-element">
                    <label for="flat">Flat</label>
                    <input type="number" id="flat" name="flat" placeholder="Flat" class="inp">
                </div>
                <div class="reg-element">
                    <label for="postIndex">Post Index</label>
                    <input type="number" id="postIndex" name="postIndex" placeholder="Post Index" class="inp">
                </div>
                <div class="reg-element">
                    <button type="button" id="sub-button" onclick="sendNewAddress();" class="butt">Submit</button>
                </div>

            </form>
        </div>


    </div>
</div>


<script>
    onload = function show() {
        createNav();
    };

    var link = location.href.split("/");
    var id = link[link.length - 2];

    function sendNewAddress() {
        document.getElementById('load-pic').style.display = "";
        var formData = new FormData();
        formData.append('country', document.getElementById('country').value);
        formData.append('city', document.getElementById('city').value);
        formData.append('street', document.getElementById('street').value);
        formData.append('house', document.getElementById('house').value);
        formData.append('flat', document.getElementById('flat').value);
        formData.append('postIndex', document.getElementById('postIndex').value);

        fetch('/rest/contact/' + id + '/addAddress',{method: "POST", body: formData}).then(function (response) {
            response.json().then(function (data) {
                if (data.error===undefined){
                    document.getElementById('message-span').style.color = 'green';
                    document.getElementById('message-span').innerText = 'Success';
                    document.getElementById('add-form').style.visibility = 'hidden';
                    setTimeout(function () {
                        goToUserPage();
                    }, 1300)
                }else{
                    document.getElementById('load-pic').style.display = "none";
                    document.getElementById('message-span').style.color = 'red';
                    document.getElementById('message-span').innerText = 'Check your data';
                }
            })
        })
    }
    function goToUserPage() {
        window.location.href='/contact/' + id
    }

</script>


</body>
</html>