<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact info</title>
    <link rel="stylesheet" href="/testViewDesign.css">
    <script src="/index.js"></script>
    <style>
        .title{
            color: #f98e8e;
        }
        .content{
            color: #161616;
        }
    </style>

</head>
<body>

<div class="container" id="container" style="margin-top: 3%">

    <div id="tabs">
        <div class="tab butt" id="contact-tab" onclick="openTab(1)">Info <i class="fa fa-address-book-o"></i></div>
        <div class="tab butt" id="address-tab" onclick="openTab(2)">Address <i class="fa fa-map-signs"></i></div>
        <div class="tab butt" id="phones-tab" onclick="openTab(3)">Phone <i class="fa fa-phone"></i></div>
        <div id="content-div"></div>
    </div>

</div>


<script>
    var contactInfo;
    var addressInfo;
    var phonesInfo;
    onload = function show() {
        createNav();
        initContact();
        openTab(1);
    };
    function openTab(visibleTab) {
        switch (visibleTab) {
            case 1: document.getElementById('content-div').innerHTML = contactInfo;break;
            case 2: document.getElementById('content-div').innerHTML = addressInfo;break;
            case 3: document.getElementById('content-div').innerHTML = phonesInfo;break;
        }
    }

    function initContact() {
        var link = window.location.href.split("/");
        var id = link[link.length - 1];
        fetch('/rest/contact/' + id + '/full').then(function (response) {
            response.json().then(function (data) {
                console.log(data);
                contactInfo = '<h1><a class="butt" href="/contact/ ' + data.id + '/edit"> Edit</a></h1>' + '<h1><strong>' + checkForNull(data.name, "Name") + '</strong></h1><h1><a href="/contact/' + data.id + '/uploadDocument" class="butt">Upload document</a></h1><h1><a href="/contact/' + data.id + '/documents" class="butt">Files</a></h1><h2>' +
                    checkForNull(data.surname, "<a class='title'>Surname</a>") + '</h2><h2>' + checkForNull(data.patronymic, "<a class='title'>Patronymic</a>") + '</h2><h2>' + checkForNull(data.date, "<a class='title'>Date</a>") + '</h2><h2>' +
                    checkForNull(data.gender, "Gender") + '</h2><h2>' + checkForNull(data.citizenship, "Citizenship") + '</h2><h2>' + checkForNull(data.familyStatus, "Family status") + '</h2><h2>' +
                    checkForNull(data.site, "Site") + '</h2><h2>' + checkForNull(data.email, "Email") + '</h2><h2>' + checkForNull(data.job, "Job") + '</h2><h2>';


                if (data.country===null){
                    addressInfo = '<a class="reg-button" href="/contact/' + id + '/addAddress">Add address</a>'
                }else{
                    addressInfo = '<h1><a href="/contact/' + id + '/editAddress">Edit</a></h1>' +  checkForNull(data.country, 'Country') + '</h2><h2>' + checkForNull(data.city, 'City') + '</h2><h2>' + checkForNull(data.street, 'Street') + '</h2><h2>' +
                        checkForNull(data.house, 'House') + '</h2><h2>' + checkForNull(data.flat, 'Flat') + '</h2><h2>' + checkForNull(data.postIndex, 'Post index') + '</h2>'
                }
            })
        });
        fetch('/rest/contact/' + id + '/phone').then(function (response) {
            response.json().then(function (data) {
                if (data.error === undefined) {
                    phonesInfo = '<div><h2>' + checkForNull(data.countryCode, 'Country code') + '</h2><h2>' + checkForNull(data.number, 'Number') + '</h2><h2>' +
                        checkForNull(data.type, 'Type') + '</h2>' + checkForNull(data.comment, 'Comment') + '</div>';
                } else {
                    phonesInfo = '<a class="reg-button" href="/contact/' + id + '/edit">Add phone</a>';
                }
            })
        })
    }

    function checkForNull(value, message) {
        return value === null ? '' : (message + ": " + value);
    }

</script>

</body>
</html>