<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact info</title>
    <link rel="stylesheet" href="/testViewDesign.css">
    <script src="/index.js"></script>
    <style>
        .bordered{
            border-radius: 6px;
        }
    </style>

</head>
<body>

<div class="container" id="container" style="margin-top: 3%">

    <div id="tabs">
        <div class="tab butt" id="contact-tab" onclick="openTab(1)" style="font-size: 25px">Info <i class="fa fa-address-book-o"></i></div>
        <div class="tab butt" id="address-tab" onclick="openTab(2)" style="font-size: 25px">Address <i class="fa fa-map-signs"></i></div>
        <div class="tab butt" id="phones-tab" onclick="openTab(3)" style="font-size: 25px">Phone <i class="fa fa-phone"></i></div>
        <div id="content-div" style="margin-top: 2%"></div>
    </div>

</div>
<div class="container">
</div>


<script>
    var contactInfo;
    var addressInfo;
    var phonesInfo;
    onload = function show() {
        createNav();
        initContact();

    };
    function openTab(visibleTab) {
        switch (visibleTab) {
            case 1: document.getElementById('content-div').innerHTML = contactInfo;break;
            case 2: document.getElementById('content-div').innerHTML = addressInfo;break;
            case 3: document.getElementById('content-div').innerHTML = phonesInfo;break;
        }
    }

    function initContact() {
        var link = window.location.href.split("/");
        var id = link[link.length - 1];
        fetch('/rest/contact/' + id + '/full').then(function (response) {
            response.json().then(function (data) {
                console.log(data);
                contactInfo = '<i style="font-size: 60px;" class="fa fa-user"></i>' + '<h3>' + checkForNull(data.name, "Name") + '</h3><h2>' +
                    checkForNull(data.surname, "<a class='text-muted'>Surname</a>") + '</h2><h2>' + checkForNull(data.patronymic, "<a class='title'>Patronymic</a>") + '</h2><h2>' + checkForNull(data.date, "<a class='title'>Date</a>") + '</h2><h2>' +
                    checkForNull(data.gender, "Gender") + '</h2><h2>' + checkForNull(data.citizenship, "Citizenship") + '</h2><h2>' + checkForNull(data.familyStatus, "Family status") + '</h2><h2>' +
                    checkForNull(data.site, "Site") + '</h2><h2>' + checkForNull(data.email, "Email") + '</h2><h2>' + checkForNull(data.job, "Job") + '</h2><a class="butt bordered" href="/contact/' + data.id + '/edit">Edit <i class="fa fa-pencil"></i></a>' +
                    '<a class="butt bordered" href="/contact/' + data.id + '/uploadDocument">Upload document <i class="fa fa-cloud-upload"></i></a><a href="/contact/' + data.id + '/documents" class="bordered butt">Files <i class="fa fa-file-o"></i></a>';
                openTab(1);

                if (data.country===null){
                    addressInfo = '<a class="butt bordered" href="/contact/' + id + '/addAddress">Add address</a>'
                }else{
                    addressInfo = '<h1><a href="/contact/' + id + '/editAddress">Edit</a></h1>' +  checkForNull(data.country, 'Country') + '</h2><h2>' + checkForNull(data.city, 'City') + '</h2><h2>' + checkForNull(data.street, 'Street') + '</h2><h2>' +
                        checkForNull(data.house, 'House') + '</h2><h2>' + checkForNull(data.flat, 'Flat') + '</h2><h2>' + checkForNull(data.postIndex, 'Post index') + '</h2>'
                }
            })
        });

        fetch('/rest/contact/' + id + '/phones').then(function (response) {
            response.json().then(function (data) {
                phonesInfo = '<a class="butt bordered" href="/contact/' + id + '/addPhone">Add phone</a>';
                if (data.error === undefined) {
                    phonesInfo += '<table><tr class="head-th"><th>Number</th><th>Type</th><th>Comment</th><th>Delete</th><th>Edit</th></tr><tbody>';
                    for (var i = 0; i < data.length; i++) {
                        phonesInfo += '<tr><td>' + data[i].countryCode + ' ' + data[i].number + '</td><td>' + data[i].type + '</td><td>' + data[i].comment + '</td><td><a class="butt" style="box-shadow: 0 0 1px rgba(0,0,0,0.5);" href="/rest/contact/removePhone/' + data[i].id +'"><i class="fa fa-trash"></i></a><td><a class="butt" style="box-shadow: 0 0 1px rgba(0,0,0,0.5);" href="/contact/' + data[i].contactId + '/editPhone/' + data[i].id + '"><i class="fa fa-pencil"></i></a></td></td></tr>';
                    }
                    phonesInfo += '</tbody></table>'
                } else {
                    phonesInfo += "<h3>No one phone</h3>"
                }
            })
        });

    }

    function checkForNull(value, message) {
        return value === null ? '' : (message + ": " + value);
    }



</script>

</body>
</html>