<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" href="/testViewDesign.css">
    <script src="/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.min.js"></script><script src="https://cdn.rawgit.com/camsong/fetch-ie8/master/fetch.js"></script>
</head>
<body>
<div class="container" id="after-edit">

</div>

<div class="container">
    <button onclick="comeBackToUserPage()" class="butt">Go to user page</button>
</div>

<div class="container" id="container">

    <div class="gap-bottom">

        <span id="message-span"></span>
        <form class="reg-form" id="contact-form">
            <div class="reg-element">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Name" class="inp">
            </div>
            <div class="reg-element">
                <label for="surname">Surname</label>
                <input type="text" id="surname" name="surname" placeholder="Surname" class="inp">
            </div>
            <div class="reg-element">
                <label for="patronymic">Patronymic</label>
                <input type="text" id="patronymic" name="patronymic" placeholder="Patronymic" class="inp">
            </div>
            <div class="reg-element">
                <label for="date">Date</label>
                <input type="date" id="date" name="date" placeholder="Date" value="2000-01-01" class="inp">
            </div>
            <div class="reg-element">
                <label for="gender">Gender</label>
                <select name="gender" id="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="reg-element">
                <label for="citizenship">Citizenship</label>
                <input type="text" id="citizenship" name="citizenship" placeholder="Citizenship" class="inp">
            </div>
            <div class="reg-element">
                <label for="familyStatus">Family Status</label>
                <select name="familyStatus" id="familyStatus">
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="ActivelyLooking">ActivelyLooking</option>
                    <option value="InARelationShip">InARelationShip</option>
                </select>
            </div>
            <div class="reg-element">
                <label for="site">Site</label>
                <input type="text" id="site" name="site" placeholder="Site" class="inp">
            </div>
            <div class="reg-element">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" class="inp">
            </div>
            <div class="reg-element">
                <label for="job">Job</label>
                <input type="text" id="job" name="job" placeholder="Job" class="inp">
            </div>

            <div class="reg-element">
                <button type="button" onclick="sendOnServer()" class="butt">Submit</button>
            </div>

        </form>


    </div>
</div>


<script>
    var url = window.location.href.split('/');
    var id = url[url.length - 2];
    onload = function show() {
        createNav();
        initForm();
    };

    function initForm() {
        fetch('/rest/contact/' + id).then(function (response) {
            response.json().then(function (data) {
                console.log(data);
                document.getElementById('name').value = data.name;
                document.getElementById('surname').value = data.surname;
                document.getElementById('patronymic').value = data.patronymic;
                document.getElementById('date').value = data.date;
                selectOption(document.getElementById('gender'), data.gender);
                document.getElementById('citizenship').value = data.citizenship;
                selectOption(document.getElementById('familyStatus'), data.familyStatus);
                document.getElementById('site').value = data.site;
                document.getElementById('email').value = data.email;
                document.getElementById('job').value = data.job;

            })
        });


    }

    function selectOption(element, value) {
        var opts = element.options;
        for (var opt, j = 0; opt = opts[j]; j++) {
            if (opt.value === value) {
                element.selectedIndex = j;
                break;
            }
        }
    }

    function sendOnServer() {
        var link = window.location.href.split('/');
        var id = link[link.length - 2];
        var formData = new FormData();
        formData.append('name', document.getElementById('name').value);
        formData.append('surname', document.getElementById('surname').value);
        formData.append('patronymic', document.getElementById('patronymic').value);
        formData.append('date', document.getElementById('date').value);
        formData.append('gender', document.getElementById('gender').value);
        formData.append('citizenship', document.getElementById('citizenship').value);
        formData.append('familyStatus', document.getElementById('familyStatus').value);
        formData.append('site', document.getElementById('site').value);
        formData.append('email', document.getElementById('email').value);
        formData.append('job', document.getElementById('job').value);
        sendEditedContactInfo(id, formData);
    }

    function comeBackToUserPage() {
        location.href = '/contact/' + id;
    }

</script>

</body>
</html>