<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="import" href="/navbar.html">
    <script src="/index.js"></script>
    <style>

    </style>

</head>
<body>

<div class="container" id="container">

    <div class="gap-bottom">

        <span id="message-span"></span>
        <form class="reg-form" id="contact-form">
            <div class="reg-element">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Name" class="reg-input">
            </div>
            <div class="reg-element">
                <label for="surname">Surname</label>
                <input type="text" id="surname" name="surname" placeholder="Surname" class="reg-input">
            </div>
            <div class="reg-element">
                <label for="patronymic">Patronymic</label>
                <input type="text" id="patronymic" name="patronymic" placeholder="Patronymic" class="reg-input">
            </div>
            <div class="reg-element">
                <label for="date">Date</label>
                <input type="date" id="date" name="date" placeholder="Date" value="2000-01-01" class="reg-input">
            </div>
            <div class="reg-element">
                <label for="gender">Gender</label>
                <select name="gender" id="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="reg-element">
                <label for="citizenship">Citizenship</label>
                <input type="text" id="citizenship" name="citizenship" placeholder="Citizenship" class="reg-input">
            </div>
            <div class="reg-element">
                <label for="familyStatus">Family Status</label>
                <select name="familyStatus" id="familyStatus">
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="ActivelyLooking">ActivelyLooking</option>
                    <option value="InARelationShip">InARelationShip</option>
                </select>
            </div>
            <div class="reg-element">
                <label for="site">Site</label>
                <input type="text" id="site" name="site" placeholder="Site" class="reg-input">
            </div>
            <div class="reg-element">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" class="reg-input">
            </div>
            <div class="reg-element">
                <label for="job">Job</label>
                <input type="text" id="job" name="job" placeholder="Job" class="reg-input">
            </div>

            <div>
                <div class="reg-element">
                    <label for="number">Number</label>
                    <input type="tel" width="40px" pattern="+[0-9]{3}" id="countryCode" name="countryCode"
                           placeholder="Country code" class="reg-input">
                </div>
                <div class="reg-element">
                    <input type="tel" pattern="[0-9]{9}" id="number" name="number" placeholder="Number"
                           class="reg-input">
                </div>
                <div class="reg-element">
                    <label for="type">Type</label>
                    <select name="type" id="type">
                        <option value="mobile">Mobile</option>
                        <option value="home">Home</option>
                        <option value="work">Work</option>
                    </select>
                </div>
                <div class="reg-element">
                    <label for="comment">Comment</label>
                    <input type="text" id="comment" name="comment" placeholder="Comment" class="reg-input">
                </div>
            </div>
            <div class="reg-element">
                <button type="button" onclick="sendOnServer()" class="reg-button">Submit</button>
            </div>

        </form>


    </div>
</div>


<script>
    var url = window.location.href.split('/');
    var id = url[url.length - 2];
    onload = function show() {
        var link = document.querySelector('link[rel=import]');
        var content = link.import.querySelector('#nav');
        document.body.insertBefore(content.cloneNode(true), document.getElementById('container'))
        initForm();
    };

    function initForm() {
        fetch('/rest/contact/' + id).then(function (response) {
            response.json().then(function (data) {
                console.log(data);
                document.getElementById('name').value = data.name;
                document.getElementById('surname').value = data.surname;
                document.getElementById('patronymic').value = data.patronymic;
                document.getElementById('date').value = data.date;
                selectOption(document.getElementById('gender'), data.gender);
                document.getElementById('citizenship').value = data.citizenship;
                selectOption(document.getElementById('familyStatus'), data.familyStatus);
                document.getElementById('site').value = data.site;
                document.getElementById('email').value = data.email;
                document.getElementById('job').value = data.job;

            })
        });
        fetch('/rest/contact/' + id + '/phone').then(function (response) {
            response.json().then(function (data) {
                if (data.error === undefined) {
                    console.log(data);
                    document.getElementById('countryCode').value = data.countryCode;
                    document.getElementById('number').value = data.number;
                    selectOption(document.getElementById('type'), data.type);
                    document.getElementById('comment').value = data.comment;
                }
            })
        });
        document.getElementById('contact-form').action = '/rest/contact/' + id + '/edit';

    }

    function selectOption(element, value) {
        var opts = element.options;
        for (var opt, j = 0; opt = opts[j]; j++) {
            if (opt.value === value) {
                element.selectedIndex = j;
                break;
            }
        }
    }

    function sendOnServer() {
        var link = window.location.href.split('/');
        var id = link[link.length - 2];
        var formData = new FormData();
        formData.append('name', document.getElementById('name').value);
        formData.append('surname', document.getElementById('surname').value);
        formData.append('patronymic', document.getElementById('patronymic').value);
        formData.append('date', document.getElementById('date').value);
        formData.append('gender', document.getElementById('gender').value);
        formData.append('citizenship', document.getElementById('citizenship').value);
        formData.append('familyStatus', document.getElementById('familyStatus').value);
        formData.append('site', document.getElementById('site').value);
        formData.append('email', document.getElementById('email').value);
        formData.append('job', document.getElementById('job').value);
        formData.append('countryCode', document.getElementById('countryCode').value);
        formData.append('number', document.getElementById('number').value);
        formData.append('type', document.getElementById('type').value);
        formData.append('comment', document.getElementById('comment').value);
        var resp = await sendJson('/rest/contact/' + id + '/edit',formData, 'POST');


        // fetch('/rest/contact/' + id + '/edit', {
        //     method: 'POST',
        //     body: formData
        // }).then(function (response) {
        //     response.json().then(function (data) {
        //         if (data.error === undefined) {
        //             document.getElementById('contact-form').style.visibility = 'hidden';
        //             document.getElementById('message-span').style.color = 'green';
        //             document.getElementById('message-span').innerText = "Your contact was edited";
        //         }else{
        //             document.getElementById('message-span').style.color = 'red';
        //             document.getElementById('message-span').innerText = "Please, check your data!";
        //         }
        //     })
        // })
    }

</script>

</body>
</html>