<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit address</title>
    <link rel="stylesheet" href="/testViewDesign.css">
    <script src="/index.js"></script>


</head>
<body>


<div id="container" class="container-main">


    <form action="/rest/editAddress" method="post" class="reg-form">
        <div class="reg-element">
            <label for="country">Country</label>
            <input type="text" id="country" name="country" placeholder="Country" class="reg-input">
        </div>
        <div class="reg-element">
            <label for="city">City</label>
            <input type="text" id="city" name="city" placeholder="City" class="reg-input">
        </div>
        <div class="reg-element">
            <label for="street">Street</label>
            <input type="text" id="street" name="street" placeholder="Street" class="reg-input">
        </div>
        <div class="reg-element">
            <label for="house">House</label>
            <input type="number" id="house" name="house" placeholder="House" class="reg-input">
        </div>
        <div class="reg-element">
            <label for="flat">Flat</label>
            <input type="number" id="flat" name="flat" placeholder="Flat" class="reg-input">
        </div>
        <div class="reg-element">
            <label for="postIndex">Post Index</label>
            <input type="number" id="postIndex" name="postIndex" placeholder="Post Index" class="reg-input">
        </div>

        <div class="reg-element">
            <input type="submit" value="Submit" class="reg-button">
        </div>

    </form>

</div>

<script>
    onload = function show() {
        createNav();
        send();
    };

    function send() {
        var link = window.location.href.split("/");
        var id = link[link.length - 2];
        fetch('/rest/contact/' + id + '/address').then(function (response) {
            response.json().then(function (data) {
                console.log(data);
                document.getElementById('country').value = data.country;
                document.getElementById('city').value = data.city;
                document.getElementById('street').value = data.street;
                document.getElementById('house').value = data.house;
                document.getElementById('flat').value = data.flat;
                document.getElementById('postIndex').value = data.postIndex;
            })
        })
    }
</script>
</body>
</html>