<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Error page</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="import" href="/navbar.html">

</head>
<body>


<div class="reg-form" id="container" style="margin: 2% 30% 2% 30%;overflow: hidden;">
    <h1>An error occurred</h1>
    <!--<h1 th:text="${message}"></h1>-->
</div>
<script>
    onload = function show() {
        var link = document.querySelector('link[rel=import]');
        var content = link.import.querySelector('#nav');
        document.body.insertBefore(content.cloneNode(true),document.getElementById('container'))
    };
</script>

</body>
</html>