<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <link rel="stylesheet" href="/testViewDesign.css">
    <script src="/index.js"></script>
</head>
<body>

<div class="container">
    <table id="table">
        <tr>
            <th>Description</th>
            <th>Link to</th>
        </tr>
        <tbody>
        <tr>
            <td>Contact info</td>
            <td><a href="/contact/search">Link</a></td>
        </tr>
        <tr>
            <td>Add contact</td>
            <td><a href="/contact/addContact">Link</a></td>
        </tr>
        <tr>
            <td>All contacts</td>
            <td><a href="/contacts/1">Link</a></td>
        </tr>
        <tr>
            <td>Send email</td>
            <td><a href="/contact/sendEmail">Link</a></td>
        </tr>
        <tr>
            <td>Upload document</td>
            <td><a href="/contact/search">Link</a></td>
        </tr>
        <tr>
            <td>Git</td>
            <td><a href="https://github.com/prostfk/ItechArt/tree/master/Contacts">Link</a></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="/index.js"></script>
<script>
    onload = function show() {
        createNav();
    };
</script>
</body>
</html>