<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/index.css">

</head>
<body>

<div id="nav">
    <div class="top-bar">
        <ul>
            <li><a href="#navbar" style="color: #4c5051;">Tel: xxxx xxxxxxx | Mail: info@domain.com</a></li>
            <li style="float: right">
                <div class="search-area">
                    <form onclick="sendRequest()">
                        <input type="text" name="search" id="searchKey" placeholder="Search">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="header">
            <h1>Header</h1>
            <h3 class="text-muted">Muted text</h3>
        </div>
    </div>
    <!-- Navbar -->

    <div class="container">
        <div class="box">
            <h3>Box 1</h3>
        </div>
        <div class="box">
            <h3>Box 2</h3>
        </div>
        <div class="box">
            <h3>Box 3</h3>
        </div>
        <div class="box">
            <h3>Box 3</h3>
        </div>
        <div class="box">
            <h3>Box 3</h3>
        </div>
        <div class="box">
            <h3>Box 3</h3>
        </div>
    </div>
    <!-- Navbar -->
</div>


<!--<div id="nav">-->

<!--<div class="container-1">-->
<!--<div class="box"><p class="navbar-text">ELEMENT</p></div>-->
<!--<div class="box"><p class="navbar-text">ELEMENT</p></div>-->
<!--<div class="box"><p class="navbar-text">ELEMENT</p></div>-->
<!--<div class="box"><p class="navbar-text">ELEMENT</p></div>-->
<!--<div class="box"><p class="navbar-text">ELEMENT</p></div>-->
<!--<div class="box"><p class="navbar-text">ELEMENT</p></div>-->
<!--</div>-->

<!--</div>-->


</body>
</html>