<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find contact</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="import" href="/navbar.html">

    <style>
        table {
            align-items: center;
            background-color: #161616;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2%;
        }

        table th {
            padding-top: 12px;
            padding-bottom: 12px;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
        }

        a {
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>


<div class="container-main" id="container">


    <div class="reg-form" style="margin-top: 2%">
        <div class="reg-element">
            <label for="parameter">Chose filed</label>
            <select name="parameter" id="parameter" onchange="addInfoToSelect()">
                <option value="name">Name</option>
                <option value="surname">Surname</option>
                <option value="patronymic">Patronymic</option>
                <option value="date_of_birth">Date Of Birth</option>
                <option value="gender">Gender</option>
                <option value="citizenship">Citizenship</option>
                <option value="family_status">Family Status</option>
                <option value="site">Site</option>
                <option value="email">Email</option>
                <option value="job">Job</option>
            </select>
            <input type="text" id="value" placeholder="Value" class="reg-input" onkeyup="search()">
        </div>
    </div>


    <table id="table" class="gap-bottom" style="display: none;">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Patronymic</th>
            <th>DateOfBirth</th>
            <th>Gender</th>
            <th>Citizenship</th>
            <th>FamilyStatus</th>
            <th>Site</th>
            <th>Email</th>
            <th>Job</th>
            <th>Address</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        <tbody id="content-pane">

        </tbody>
        <!--<tr id="content-pane"></tr>-->
    </table>


</div>

<script>

    function search() {
        var type = document.getElementById('parameter').value;
        var value = document.getElementById('value').value;
        document.getElementById('table').style.display = "none";
        document.getElementById('content-pane').innerText = "";
        if (value !== "") {
            fetch('/rest/searchContact?type=' + type + "&value=" + value).then(function (response) {
                response.json().then(function (data) {
                    if (data.length > 0) {
                        document.getElementById('table').style.display = "table";
                        var str = "";
                        for (var i = 0; i < data.length; i++) {
                            console.log(data[i]);
                            str += "<tr><td><a href='/contact/" + data[i].id + "'>" + data[i].name + "</a></td><td>" + data[i].surname + "</td><td>" + data[i].patronymic + "</td><td>" + data[i].date + "</td><td>" + data[i].gender + "</td><td>" + data[i].citizenship + "</td><td>" + data[i].familyStatus + "</td><td>" + data[i].site + "</td><td>" + data[i].email + "</td><td>" + data[i].job + "</td><td><a href='/rest/address/" + data[i].addressId + "'>" + (data[i].addressId !== 0 ? 'Address' : 'None') + "</a><td><a href='/rest/contact/" + data[i].id + "/delete/'>Delete</a></td><td><a href='/contact/" + data[i].id + "/edit'>Edit</a></td></td></tr>";
                        }
                        document.getElementById("content-pane").innerHTML = str;
                    }
                })
            })
        } else {
            document.getElementById('content-pane').innerText = "";
        }
    }

    function addInfoToSelect() {
        var type = document.getElementById('parameter').value;

        if (type==='date_of_birth'){
            //todo create range of dates by selecting date of birth
            document.getElementById('reg-element').innerHTML = "<input type='date'><input type='date'>"
        }
    }

</script>
<script>
    onload = function show() {
        var link = document.querySelector('link[rel=import]');
        var content = link.import.querySelector('#nav');
        document.body.insertBefore(content.cloneNode(true), document.getElementById('container'))
    };
</script>
</body>
</html>