<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find contact</title>
    <link rel="stylesheet" href="/testViewDesign.css">
    <script src="/index.js"></script>
    <style>
        .butt{
            padding: 4px 6px;
            border-radius: 3px;
        }
    </style>
</head>
<body>


<div class="container" id="container">


    <div class="reg-form" style="margin-top: 2%">
        <h1 align="center">Choose field</h1>
        <div class="reg-element">
            <button class="butt" onclick="addInputWithSelect()" style="border: 1px solid #edffed; background-color: lightgreen">Add field
            </button>
            <button class="butt" onclick="deleteInputWithSelect()" style="border: 1px solid #ffeded;background-color: tomato">Remove field
            </button>
            <button class="butt" onclick="search()" style="border: 1px solid #edfff9;background-color: darkturquoise">Search</button>
        </div>
        <div class="reg-element" id="element-1">
            <select name="parameter" id="parameter1">
                <option value="name">Name</option>
                <option value="surname">Surname</option>
                <option value="patronymic">Patronymic</option>
                <option value="date_of_birth">Date Of Birth</option>
                <option value="gender">Gender</option>
                <option value="citizenship">Citizenship</option>
                <option value="family_status">Family Status</option>
                <option value="site">Site</option>
                <option value="email">Email</option>
                <option value="job">Job</option>
            </select>
            <input type="text" id="value1" placeholder="Value" class="reg-input"><br/>
        </div>

    </div>
</div>

<div class="container">
    <button class="butt" style="visibility: hidden;" id="send-emails-button" onclick="sendEmailsRedirect()">Send Emails</button>
</div>

<div class="container">

    <span id="message-span" style="color: red;"></span>
    <table id="table" class="gap-bottom" style="display: none;">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th class='mob-off'>Patronymic</th>
            <th class='mob-off'>DateOfBirth</th>
            <th class='mob-off'>Gender</th>
            <th class='mob-off'>Citizenship</th>
            <th class='mob-off'>FamilyStatus</th>
            <th class='mob-off'>Site</th>
            <th class='mob-off'>Email</th>
            <th class='mob-off'>Job</th>
            <th class='mob-off'>Address</th>
            <th>Delete</th>
            <th>Edit</th>
            <th>Send email</th>
        </tr>
        <tbody id="content-pane">

        </tbody>
    </table>


</div>

<script>

    var paramCount = 1;
    var checkBoxes = [];
    function search() {
        document.getElementById('message-span').innerText = '';
        var type = '';
        var value = '';
        for (var i = 1; i <= paramCount; i++) {
            var tmpType = document.getElementById('parameter' + i).value;
            type += (tmpType === "" ? ' ' : tmpType) + ",";
            var tmpValue = document.getElementById('value' + i).value;
            value += (tmpValue === "" ? ' ' : tmpValue) + ",";
        }
        console.log(type);
        console.log(value);
        document.getElementById('table').style.display = "none";
        document.getElementById('content-pane').innerText = "";
        if (value !== "") {
            fetch('/rest/updatedSearch?param=' + type + "&value=" + value).then(function (response) {
                response.json().then(function (data) {
                    if (data.length > 0) {
                        document.getElementById('table').style.display = "table";
                        var str = "";
                        for (var i = 0; i < data.length; i++) {
                            console.log(data[i]);
                            str += "<tr><td><a href='/contact/" + data[i].id + "'>" + data[i].name + "<i class='fa fa-user'></i></a></td><td>" + data[i].surname + "</td><td class='mob-off'>" + data[i].patronymic + "</td><td class='mob-off'>" + data[i].date + "</td><td class='mob-off'>" + data[i].gender + "</td><td class='mob-off'>" + data[i].citizenship + "</td><td class='mob-off'>" + data[i].familyStatus + "</td><td class='mob-off'>" + data[i].site + "</td><td class='mob-off'>" + data[i].email + "</td><td class='mob-off'>" + data[i].job + "</td><td class='mob-off'><a href='/contact/" + data[i].id + (data[i].addressId === 0 ? '/addAddress' : '') + "'>" + (data[i].addressId !== 0 ? 'Address' : 'None') + "</a><td><a onclick='removeContact("+ data[i].id +")'><i class='fa fa-trash-o'></i></a></td><td><a href='/contact/" + data[i].id + "/edit'><i class='fa fa-pencil'></i></a></td></td><td><input type='checkbox' id='" + data[i].id + "' onchange='plusCheck(this)'></td></tr>";
                        }
                        document.getElementById("content-pane").innerHTML = str;
                    }else{
                        document.getElementById('message-span').innerText = 'No one was found'
                    }
                })
            })
        } else {
            document.getElementById('content-pane').innerText = "";
        }
    }

    function addInputWithSelect() {
        var html = '<div class="reg-element" id="element-' + Number(paramCount + 1) + '"><select name="parameter" id="parameter' + Number(paramCount + 1) + '">' +
            '                <option value="name">Name</option>' +
            '                <option value="surname">Surname</option>' +
            '                <option value="patronymic">Patronymic</option>' +
            '                <option value="date_of_birth">Date Of Birth</option>' +
            '                <option value="gender">Gender</option>' +
            '                <option value="citizenship">Citizenship</option>' +
            '                <option value="family_status">Family Status</option>' +
            '                <option value="site">Site</option>' +
            '                <option value="email">Email</option>' +
            '                <option value="job">Job</option>' +
            '            </select>' +
            '            <input type="text" id="value' + Number(paramCount + 1) + '" placeholder="Value" class="reg-input"><br/></div>';
        document.getElementById('value' + paramCount++).insertAdjacentHTML('afterend', html);
    }

    function showData() {
        var par = '';
        var val = '';
        for (var i = 1; i <= paramCount; i++) {
            par += document.getElementById('parameter' + i).value + " ";
            val += document.getElementById('value' + i).value + " ";
        }
        console.log(par);
        console.log(val);
    }

    function deleteInputWithSelect() {
        if (paramCount > 1) {
            var elem = document.getElementById('element-' + paramCount--);
            console.log(elem.getAttribute('id'));
            elem.parentNode.removeChild(elem);
        }
    }

    function plusCheck(checkbox) {
        var currentId = Number(checkbox.getAttribute('id'));
        var button = document.getElementById('send-emails-button');
        if (!checkBoxes.includes(currentId)) {
            checkBoxes.push(currentId);
        } else {
            checkBoxes.splice(checkBoxes.indexOf(currentId), 1);
        }
        if (checkBoxes.length > 0) {
            button.style.visibility = 'visible';
        } else {
            button.style.visibility = 'hidden';
        }
        console.log(checkBoxes);
    }

    function sendEmailsRedirect() {
        localStorage.removeItem('usersForEmail');
        localStorage.setItem('usersForEmail', checkBoxes.join(","));
        window.location.href = '/contact/email/sendEmailToUsers';
    }

    function removeContact(elementId) {
        fetch("/rest/contact/" + elementId + "/delete").then(function (response) {
            if (response.status > 199 && response.status < 300){
                location.reload()
            }else{
                alert(response.json());
            }
        })
    }

</script>
<script>
    onload = function show() {
        createNav();
    };
</script>
</body>
</html>