<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send email</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="import" href="/navbar.html">
</head>
<body>

<div class="container" id="container">

    <div class="gap-bottom">

        <div class="reg-form">

            <span id="message-span"></span>
            <!--<form>-->
            <div class="reg-element">
                <label for="message-input">Message</label>
                <!--<input id="message-input" type="text" class="reg-input" placeholder="Message">-->
                <select name="message" id="message-input">
                    <option value="message.birthday">Birthday</option>
                    <option value="message.newYear">New Year</option>
                    <option value="message.Party">Party</option>
                </select>
            </div>
            <div class="reg-element">
                <button class="reg-button" onclick="sendEmails();">Send</button>
            </div>

            <!--</form>-->

        </div>

    </div>

</div>


<script>
    onload = function show() {
        var link = document.querySelector('link[rel=import]');
        var content = link.import.querySelector('#nav');
        document.body.insertBefore(content.cloneNode(true), document.getElementById('container'));
    };

    function sendEmails() {
        var message = document.getElementById('message-input').value;
        var item = localStorage.getItem('usersForEmail');
        var span = document.getElementById('message-span');
        fetch('/rest/sendEmails?To=' + item + "&message=" + message).then(function (response) {
            response.json().then(function (data) {
                console.log(data);
                if (data.status === 'ok') {
                    span.style.color = 'green';
                    span.innerText = 'Emails was send';
                } else {
                    span.style.color = 'red';
                    span.innerText = data.status;
                }
            })
        })
    }

</script>

</body>
</html>