<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send email</title>
    <link rel="stylesheet" href="/testViewDesign.css">
    <script src="/index.js"></script>
</head>
<body>

<div class="container">
    <span id="message-span"></span>
</div>

<div class="container" id="container">

    <div class="gap-bottom" id="content">

        <div class="reg-form">

            <div class="reg-element">
                <label for="message-input">Message</label>
                <select name="message" id="message-input" onchange="preview()">
                    <option value="message.birthday">Birthday</option>
                    <option value="message.newYear">New Year</option>
                    <option value="message.party">Party</option>
                </select>
            </div>
            <div class="reg-element">
                <button class="butt" onclick="sendEmails();">Send</button>
            </div>


        </div>

    </div>

</div>

<div class="container">
    <h4>Preview:</h4><br>
</div>
<div class="container">
    <p id="preview-text"></p>
</div>

<script>
    onload = function show() {
        createNav();
        preview();
    };

    function sendEmails() {
        var message = document.getElementById('message-input').value;
        var item = localStorage.getItem('usersForEmail');
        var span = document.getElementById('message-span');
        fetch('/rest/sendEmails?To=' + item + "&message=" + message).then(function (response) {
            response.json().then(function (data) {
                console.log(data);
                if (data.status === 'ok') {
                    span.style.color = 'green';
                    span.innerText = 'Emails was send';
                    document.getElementById('content').style.visibility = 'hidden';
                } else {
                    span.style.color = 'red';
                    span.innerText = data.status;
                }
            })
        })
    }

    function preview() {
        var message = document.getElementById('message-input').value;
        // document.getElementById('preview-text')
        fetch('/rest/email/preview?text=' + message).then(function (response) {
            response.json().then(function (data) {
                console.log(data);
                console.log(data.error);
                if (data.error === undefined) {
                    document.getElementById('preview-text').innerText = data.message;
                } else {
                    var span = document.getElementById('message-span');
                    span.style.color = 'red';
                    span.innerText = data.error;

                }
            })
        })

    }
</script>

</body>
</html>