<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserFiles</title>
    <link rel="stylesheet" href="/testViewDesign.css">
    <script src="/index.js"></script>


</head>
<body>

<div id="for-butt" style="margin: 3%"></div>
<div class="container" id="container">

    <span id="message-span"></span>
    <table id="table" class="gap-bottom">
        <tr>
            <th>FileName</th>
            <th>Date</th>
            <th>Rename</th>
        </tr>
        <tbody id="content-pane">

        </tbody>
    </table>



</div>

<script>
    onload = function show() {
        createNav();
        findFiles();
    };
    var link = window.location.href.split('/');
    var id = link[link.length-2];
    function findFiles() {
        document.getElementById('for-butt').insertAdjacentHTML('afterbegin','<a class="butt" style="" href="/contact/' + id + '/uploadDocument">Upload File</a>');
        fetch('/rest/contact/' + id + '/documents').then(function (response) {
            response.json().then(function (data) {
                console.log(data);
                if (data.error === undefined){
                    var str = '';
                    for (var i = 0; i < data.length; i++) {
                            str += '<tr><th ><a href="/rest/download?path=' + data[i].path + '" id="name-' + data[i].id +'">' + data[i].name + '</a></th><th>' + data[i].date +'</th><th><button class="butt" id="' + data[i].id + '" onclick="rename(this)">Rename</button></th></tr>'
                    }
                    document.getElementById('content-pane').innerHTML = str
                }
            })
        })
    }

    function rename(elem) {
        document.getElementById('container').insertAdjacentHTML('afterbegin','<div class="reg-element"><input type="text" id="new-name" placeholder="name" class="reg-input"><button class="reg-button" onclick="sendRename(' + elem.getAttribute('id') +')">Submit</button></div>')
    }

    function sendRename(fileId) {
        var newName = document.getElementById('new-name').value;
        console.log(newName);
        fetch('/rest/contact/' + id + '/documents/rename?name=' + document.getElementById('name-' + fileId).innerText + '&newFileName=' + newName).then(function (response) {
            response.json().then(function (data) {
                var span = document.getElementById('message-span');
                console.log(data);
                if (data.status==="success"){
                    span.style.color = 'green';
                    span.innerText = 'Success';
                }else{
                    span.style.color = 'red';
                    span.innerText = data.status;
                }
            })
        })
    }

</script>

</body>
</html>