<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserFiles</title>
    <link rel="stylesheet" href="/testViewDesign.css">
    <script src="/index.js"></script>


</head>
<body>

<div id="for-butt" style="margin: 3%"></div>
<div class="container" id="container"></div>
<div class="container"><span id="message-span"></span></div>
<div class="container">

    <table id="table" class="gap-bottom">
        <tr>
            <th>FileName</th>
            <th>Date</th>
            <th>Rename</th>
            <th>Delete</th>
        </tr>
        <tbody id="content-pane">

        </tbody>
    </table>


</div>

<script>
    onload = function show() {
        createNav();
        findFiles();
    };
    var link = window.location.href.split('/');
    var id = link[link.length - 2];

    function findFiles() {
        document.getElementById('for-butt').insertAdjacentHTML('afterbegin', '<a class="butt" style="" href="/contact/' + id + '/uploadDocument">Upload File</a>');
        fetch('/rest/contact/' + id + '/documents').then(function (response) {
            response.json().then(function (data) {
                console.log(data);
                if (data.error === undefined) {
                    var str = '';
                    for (var i = 0; i < data.length; i++) {
                        str += '<tr><td><a href="/rest/download?path=' + data[i].path + '" id="name-' + data[i].id + '">' + data[i].name + '</a></td><td>' + data[i].date + '</td><td><button class="butt" id="' + data[i].id + '" onclick="rename(this)">Rename</button></td><td><i onclick="deleteDocument(' + data[i].id + ')" class="fa fa-trash-o"></i></td></tr>'
                    }
                    document.getElementById('content-pane').innerHTML = str
                }
            })
        })
    }

    function rename(elem) {
        document.getElementById('container').innerHTML = '<div class="reg-element"><input type="text" id="new-name" placeholder="name" class="inp"><button class="butt" onclick="sendRename(' + elem.getAttribute('id') + ')">Submit</button></div>';
    }

    function sendRename(fileId) {
        var newName = document.getElementById('new-name').value;
        console.log(newName);
        fetch('/rest/contact/' + id + '/documents/rename?name=' + document.getElementById('name-' + fileId).innerText + '&newFileName=' + newName).then(function (response) {
            response.json().then(function (data) {
                var span = document.getElementById('message-span');
                console.log(data);
                if (data.status === "success") {
                    span.style.color = 'green';
                    span.innerText = 'Success';
                } else {
                    span.style.color = 'red';
                    span.innerText = data.status;
                }
            })
        })
    }

    function deleteDocument(fileId) {
        fetch('/rest/contact/' + id + '/file/' + fileId + '/remove').then(function (response) {
            response.json().then(function (data) {
                if (data.error === undefined) {
                    location.reload();
                }
            })
        })
    }

</script>

</body>
</html>