<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Address</title>
    <link rel="stylesheet" href="/testViewDesign.css">
    <script src="/index.js"></script>
</head>
<body>

<div id="container" class="container">

    <h1 style="color: red;">YOU ALREADY HAVE AN ADDRESS</h1>

    <h1 id="address">INFO</h1>
    <h2 id="country"></h2>
    <h3 id="city"></h3>
    <h2 id="addressInfo"></h2>
    <a id="href-to-edit">Edit</a>

</div>


<script>

    "use strict";
    onload = function show() {
        var link = document.querySelector('link[rel=import]');
        var content = link.import.querySelector('#nav');
        document.body.insertBefore(content.cloneNode(true),document.getElementById('container'))
        initAddress();
    };
    function initAddress() {
        var link = window.location.href.split('/');
        var id = link[link.length-2];
        fetch('/rest/address/' + id).then(function (response) {
            response.json().then(function (data) {
                console.log(data);
                document.getElementById('country').innerText = data.country;
                document.getElementById('city').innerText = data.city;
                document.getElementById('addressInfo').innerHTML = 'Street: ' + data.street + '<br/>House: ' + data.house + '<br/>Flat: ' + data.flat + '<br/>Post Index: ' + data.postIndex;
                document.getElementById('href-to-edit').setAttribute('href', '/contact/' + id + '/editAddress')
            })
        })
    }
</script>
</body>
</html>